* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--bg, #010725);
}
.container {
  max-width: 1440px;
  margin: auto;
}
/* NAV  */
nav {
  padding: 33px 0px;
  background: var(--bg, #010725);
  position: sticky;
  top: 0;
}
nav:hover .nav-line{
  border: 1px solid rgb(155, 155, 189);
}
.nav-ul>a:nth-child(3){
  text-decoration: underline;
}

.nav-ul>a:hover{
  text-decoration: underline;
}

.download-button:hover{
  color: var(--blue, #0328ee);
  background-color: white;
transition: all .5s;

}

.nav {
  display: flex;
  justify-content: space-between;
}

.logo-Name {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.nav-ul > a {
  color: white;
  text-decoration: none;
  color: var(--white, #fff);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  padding: 0 27px;
}
.nav-line {
  border: 1px solid rgb(89, 89, 104);
  height: 66px;
  margin: 0 32px;
}

.logo {
  display: flex;
  align-items: center;
}

.download-button {
  display: flex;
  padding: 20px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 80px;
  background: var(--blue, #0328ee);
  text-decoration: none;
  color: var(--white, #fff);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.6px;
  text-transform: uppercase;
transition: all .5s;

}

/* SECTION 1  */

.pricing {
  color: var(--white, #fff);
  text-align: center;

  font-family: DM Sans;
  font-size: 66px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -1px;
}

.pricing-info {
  color: var(--white, #fff);
  text-align: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  max-width: 570px;
}

.pricing-box {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 30px 0px;
  row-gap: 16px;
}

.send-info {
  color: var(--white, #fff);

  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.class {
  display: flex;
  width: 280px;
  flex-direction: row;
  column-gap: 24px;
  align-items: center;
}

.icon-box {
  display: flex;
  justify-content: center;
  column-gap: 20px;

  padding-top: 40px;
}
.first-second{
  display: flex;
  column-gap: 30px;
}
.first-second1{
  display: flex;
  column-gap: 30px;
}

.img-style {
  padding: 13px 12px 13px 13px;
  border-radius: 20px;
  background: var(--blue, #0328ee);
}

/* SECTION 2 */
.boxes {
  padding-top: 60px;
}

.button {
  border-radius: 20px;
  background: var(--blue, #0328ee);
  width: 73px;
  padding: 9px 20px 9px 20px;
  color: var(--white, #fff);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.pay-size {
  color: var(--white, #fff);
  font-family: DM Sans;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
  padding: 16px 0;
}
.lorem {
  color: var(--white, #fff);

  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  max-width: 321px;
}
.features {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}
.pay {
  display: flex;
  flex-direction: column;
}

.features-name {
  color: var(--white, #fff);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}
li {
  color: var(--white, #fff);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  padding: 16px 10px;
}
.contact-button {
  display: flex;
  padding: 27px 32px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  /* align-self: stretch; */
  color: var(--white, #fff);
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  max-width: 321px;
  font-weight: 700;
  line-height: 16px; /* 100% */
  letter-spacing: 1.6px;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 55px;
  border-radius: 80px;
  background-color: var(--blue, #0328ee);
transition: all .5s;

}

.contact-button:hover{
  color: var(--blue, #0328ee);
  background-color: white;
transition: all .5s;
}



.basic-box {
  display: flex;
  padding: 48px 30px 42px 30px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 40px;
  background: var(--dark-blue, #010d50);
}
.box-section {
  display: flex;
  justify-content: space-around;
}

/* footer  */
footer {
  margin-top: 120px;
  padding: 55px 0;
  background: var(--dark-blue, #010d50);
}

.footer-name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.footer-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.footer-icon {
  display: flex;
  column-gap: 20px;
}
.menu-content {
  display: flex;
  width: 56px;
  height: 25px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--white, #fff);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}
.footer-line {
  width: 280px;
  border: 1px solid rgb(89, 89, 104);
}
.box-style {
  color: var(--white, #fff);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.footer-box {
  display: flex;
  justify-content: space-between;
}

.footer-boxes {
  display: flex;
  flex-direction: column;
}
.menu-box-1 {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}
.menu-box-2 {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}
.foot-download {
  color: var(--white, #fff);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}
.lorem-download {
  color: var(--white, #fff);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  max-width: 420px;
}
.app-store {
  border-radius: 80px;
  background: var(--blue, #0328ee);
  text-decoration: none;
  color: white;
  display: flex;
  height: 60px;
  padding: 27px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: all .5s;
  
}
.app-store::before{
    content: url(../images/app-store.png);
}
.app-store:hover{
  color: white;
  background: rgba(255, 255, 255, 0.1);
  transition: all .5s;
}

.play-store {
  border-radius: 80px;
  background: var(--blue, #0328ee);
  text-decoration: none;
  color: white;
  display: flex;
  height: 60px;
  padding: 27px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: all .5s;
}

.play-store:hover{
  color: white;
  background: rgba(255, 255, 255, 0.1);

  transition: all .5s;
}

.play-store::before{
    content: url(../images/play-store.png);
}

.download-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
  /* height: 284px; */
  padding: 40px 50px;
  flex-shrink: 0;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.1);
}

.play-app {
  display: flex;
  column-gap: 20px;
}
.download-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-box {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.footer-mega-line {
  border: 1px solid rgb(89, 89, 104);
  margin-top: 100px;
  margin-bottom: 30px;
}
.last-content {
  color: var(--white, #fff);
  text-align: center;

  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-align: start;
}
.menu-box-1 {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}
.menu-box-1>a{
  color: white;
  text-decoration: none;
}
.menu-box-1>a:hover{
  text-decoration: underline;
}
.menu-box-2>a{
  color: white;
  text-decoration: none;
}
.menu-box-2>a:hover{
  text-decoration: underline;
}

.menu-box-2 {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.hamburger1{
  display: none;
}
.hamburger{
  display: none;
}



@media screen and (max-width: 1440px) {
  .nav-ul > a {
    padding: 0 10px;
  }
  .nav-line {
    margin: 0 20px;
  }
  nav{
    padding: 33px 15px;
  }
  .footer-boxes{
    justify-content: space-evenly;


  }
  .footer-name{
    justify-content: space-around;
  }
.download-menu{
  flex-direction: column;
  align-items: center;
  row-gap: 30px;



}

  .menu-box{
    flex-direction: row;
    justify-content: space-around;
    column-gap: 100px;
  
  
  }
  .footer-line{
    display: none;
  }
  .footer-box{
    column-gap: 70px;
  }
  .download-box{
    max-width: 700px;
    text-align: center;
    align-items: center;
  }
  .last-info{
    padding-left: 50px;
  }

.box-section{
  column-gap: 25px;
  padding: 0 30px;
}
.icon-box{
  padding: 50px 15px 0;
}


}

@media screen and (max-width: 1024px) {
  .hamburger1{
    display: block;
  }
  .nav-ul{
    display: none;
  }
.box-section{
  flex-direction: column;
  align-items: center;
}


}



@media screen and (max-width: 768px) {
  .download-App{
    display: none;
  }
  .hamburger1{
    display: none;
  }
  .hamburger{
    display: block;
  }
  footer{
    padding: 30px 20px;
  }
  .footer-box{
    column-gap: 40px;
  }
  .icon-box{
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  .app-store:hover {
    background: var(--blue, #0328ee);
    color: white;
  }
  .play-store:hover {
    background: var(--blue, #0328ee);
    color: white;
  }
  .menu-box-1 > a:hover {
    text-decoration: none;
  }
  .menu-box-2 > a:hover {
    text-decoration: none;
  }
  .nav-ul > a:hover {
    text-decoration: none;
  }
  .download-button:hover {
    background-color: var(--blue, #0328ee);
    color: white;
  }
  nav:hover .nav-line {
    border: 1px solid rgb(89, 89, 104);
  
  }
  .contact-button:hover{
    background-color: var(--blue, #0328ee);
    color: white;
  }




}

@media screen and (max-width:425px) {
  .footer-name{
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    margin-bottom: 50px;
  }
  .menu-box{
    flex-direction: column;
    row-gap: 30px;
  }
  .play-app{
    flex-direction: column;
    row-gap: 20px;
  }
}