* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1440px;
  margin: auto;
}
body {
  background: var(--bg, #010725);
}
.message {
  color: white;
  font-size: 100px;
}
.send {
  color: white;
  font-size: 40px;
}
.message-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  columns: 50px;
}

a {
  display: flex;
  padding: 20px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 80px;
  background: var(--blue, #0328ee);
  text-decoration: none;
  color: var(--white, #fff);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  transition: all 0.5s;
}
a:hover {
  color: var(--blue, #0328ee);
  background-color: white;
  transition: all 0.5s;
}

@media screen and (max-width: 768px) {
}
img {
  padding: 0 25px;
  width: 390px;
}
.message {
  font-size: 60px;
}
.send {
  font-size: 30px;
}
a:hover{
    background-color: var(--blue, #0328ee);
    color: white;
  }

@media screen and (max-width: 425px) {
  img {
    padding: 0 25px;
    width: 330px;
  }
  .message {
    font-size: 45px;
  }
  .send {
    font-size: 25px;
  }
}
